useDynLib(nvmix, .registration = TRUE)

### Imports ####################################################################

importFrom("stats",
           "runif", "rnorm", "pt", "qt", "rgamma", "pnorm", 
           "sd", qchisq, "qnorm", "dnorm")
importFrom("methods",
           "existsFunction", "hasArg")
importFrom("qrng",
           "sobol", "ghalton")


### Exports ####################################################################

export("dnvmix", "pnvmix", "rnvmix", "pStudent", "pmultinorm")
export("factorize")
