useDynLib(nvmix, .registration = TRUE)


### Imports ####################################################################

importFrom("stats",
           "runif", "rnorm", "pt", "qt", "rgamma",
           "sd")
importFrom("methods",
           "existsFunction", "hasArg")
importFrom("qrng",
           "sobol")


### Exports ####################################################################

export("dnvmix", "pnvmix", "rnvmix")
export("factorize")
